.myButton {
	background-color:#44c767;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#fffaff;
	font-family:Impact;
	font-size:28px;
	padding:16px 19px;
	text-decoration:none;
	text-shadow:-2px -2px 1px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
